main {
  margin-top: 3rem;
}

.spinner-big {
  width: 3rem;
  height: 3rem;
}

*[hidden] {
  display: none;
}

.card img {
  max-width: 6rem;
  border: 1px solid gray;
  margin: 1rem;
  margin-bottom: 0;
}

.card-image-wrapper {
  min-height: 5rem;
}

.card-body {
  flex: none;
  height: 6rem;
}

ul.no-dot {
  list-style-type: none;
}